<div>
    <div class="d-flex justify-content-between mt-5">
        <p-card class="card">
          <ng-template pTemplate="header">
            Devices
          </ng-template>
          <ag-charts-angular
        style="height: 100%"
        [options]="pieChartOptions"
      ></ag-charts-angular>
      </p-card>
      <p-card class="card">
        <ng-template pTemplate="header">
          Orders
        </ng-template>
        <ag-charts-angular
        style="height: 100%"
        [options]="doughnutOptions"
      ></ag-charts-angular>
      </p-card>
      </div>
      <div class="d-flex justify-content-between mt-5">
        <p-card class="card">
          <ng-template pTemplate="header">
              
          </ng-template>
          <ag-charts-angular
          style="height: 100%"
          [options]="chartOptions">
         </ag-charts-angular>
        </p-card>
        <p-card class="card">
          <ng-template pTemplate="header">
              Beverages Sales
          </ng-template>
          <ag-charts-angular
            style="height: 100%"
            [options]="options"
          ></ag-charts-angular>
        </p-card>
      </div>
      
      <div class="mt-5">
        <app-map></app-map>
      </div>
</div>
