.header{
    background-color: rgb(255, 255, 255);
    height: 50px;
    .header-items{
        flex-grow: 1;
        flex-direction: row-reverse;
    }
}

a {
    text-decoration: none;
    color: black;
}
.title{
    img{
        width: 100px;
    }
}